body {
    background-color: black;
}

.box1 {
    text-align: center;
    padding-top: 10vw; 
}
#button1 {
    margin: auto;
    background-color: rgb(1, 76, 76);
    border-radius: 1vw;
    border-color: rgb(1, 76, 76);
    color: rgb(255, 255, 255);
    font-size: 4vw;
}
